/*------------------------------
    Header Area
------------------------------*/

.header-area {
    .header-area-inner {
        position: relative;
        padding: 160px 0 200px 0;
        z-index: 0;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
            height: 100%;
            background-color: #f7f8f9;
            content: '';
            z-index: -1;
        }
        .left-content-area {
            .thumb {
                display: inline-block;
                position: relative;
                &:before {
                    position: absolute;
                    left: -30px;
                    top: -30px;
                    width: 95%;
                    height: 111%;
                    content: '';
                    border: 5px solid $base-color;
                    z-index: -1;
                }
            }
        }
        .right-content-area {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            .right-content-inner {
                margin-top: -5px;
                .title {
                    font-size: 50px;
                    line-height: 60px;
                    color: $base-color;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                .subtitle {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $base-color;
                }
            }
        }
        .social-share-icons {
            text-align: right;
            margin-top: 78px;
            ul {
                li {
                    display: inline-block;
                    color: $base-color;
                    font-size: 18px;
                    font-weight: 400;
                    margin: 0 12px;
                    &:hover {
                        a {
                            i {
                                @include transform(scale(1.3));
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: $base-color;
                        i {
                            @include transition($transition);
                        }
                    }
                }
            }
        }
    }
}