.container-fluid {
    
}
 /* unvisited link */
  a:link {
    color: #4aaaa5;
  }
  
  /* visited link */
  a:visited {
    color: #666666;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
  }
  
/* @media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { } */